name: Do something when an issue is created
on:
  issues:
    types: [opened,edited]
  issue_comment:
    types: [created,edited]

jobs:
  issue-created-alert:
    runs-on: ubuntu-latest
    steps:
      - name: Ring the alarm
        run: |
          echo "Hey an issue was created!"
          echo "URL: ${{github.issues.action}}"
          echo "REPO: ${{github.repository}}"
          echo "GH: ${GITHUB_EVENT_PATH}"
